{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Lobby App</h1>

    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('web_register') }}">Register</a>

{% endblock %}
