<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('dice') }}
        {{ encore_entry_link_tags('slots') }}
    {% endblock %}
</head>
<body>

{% block body %}{% endblock body %}

{% block javascripts %}{% endblock %}
</body>
</html>