<div id="game-container">
    <div id="game-header">
        <h1>{{ game.name }}</h1>
    </div>

    <div id="slots-machine">

        <div id="slots-machine-top">
            HERE MACHINE NAME
        </div>

        <div id="matrix">
            {% for row in game.generatorConfig.format %}
                <div class="wheel">
                    {% for field in row %}
                        <div class="field"> {{ field }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="slots-machine-status"></div>

        <div id="slots-machine-bottom">
            <div id="reset" class="machine-slots-button">Reset</div>

            <div id="generate" class="machine-slots-button">Generate</div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    </div>
</div>